.tasks-container {
    margin: .5rem;
    display: flex;

    .task-list {
        flex-grow: 1;
        margin-right: 10px;
    }

    .task-details {
        width: 500px;
    }

    .task-create {
        position: absolute;
        background: #fff;
        padding: 20px;
        border: 1px solid;
    }
}