@import '../assets/styles/base.scss';

.navbar {
    background-color: $blue-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;

    &--right {
        display: flex;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items:center;
    
            li {
                margin-right: 20px;
                cursor: pointer;
                a {
                    display: block;
                }
    
                &.active {
                    a {
                        color: wheat;
                    }
                }
            }
        }
    
        a {
            text-decoration: none;
            color: $header-text;
        }
    
        .brand {
            display: block;
            color: $header-text;
            padding: 0 24px;
            font-size: 24px;
        }
    }

    &__username {
        color: $header-text;
        margin: 0 10px;
    }
}

.header {
    &__button {
        &--create {
            background-color: lighten($blue-header, 10%);
            border-radius: 7px;
            padding: .5rem .7rem;

            &:hover {
                background-color: darken($blue-header, 10%);
            }
        }
    }
}

